@import './variables.scss';

.header {
    color: $primary-color;
    background-color: white;
    width: 99%;

    .header-container {
        // background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }

    .logo {
        img {
            width: 70px;
        }
    }

    .nav {
        ul {
            display: flex;
            list-style: none;
            padding: 0;

            li {
                margin: 0 15px;

                a {
                    text-decoration: none;
                    padding: 5px 10px;
                    border-radius: 4px;
                    transition: background-color 0.3s;
                    font-size: 1.3rem;
                    cursor: pointer;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: white;
            transition: all 0.3s ease;
        }
    }

    @media (max-width: 768px) {
        .nav {
            display: none;

            &.active {
                display: block;
                position: absolute;

                top: 150px; // Ajuste para a posição do menu quando abrir
                width: 130%;
                left: -15%;
                margin: auto;
                background-color: $primary-color;

                ul {
                    flex-direction: column;
                    align-items: center;

                    // li {
                    //     margin: 10px 0;
                    // }
                }
            }
        }

        .hamburger {
            display: block;
        }
    }
}