// Base color
$primary-color: #034aaa;
$secondary-color:#9bb9e0;
$on-primary:rgb(237, 242, 254);
// Lighter shades
$primary-lightest: #9cc1f2;
$primary-lighter: #75aaef;
$primary-light: #70a6ed;

// Darker shades
$primary-dark: #0d3261;
$primary-darker: #13478a;
$primary-darkest: #155ab0;

// Accent colors (variantes para botões ou detalhes)
$accent-light: #1f5cb3;
$accent-dark: #4da2eb;

// Neutrals (para contrastes e equilíbrio)
$neutral-light: #f4f4f4; // Usado para fundos e áreas de respiro
$neutral-medium: #d6d8d5; // Usado para bordas e divisores
$neutral-dark: #3a3a3a; // Para texto escuro em fundos claros

// Opacity variations
$primary-opacity-80: rgba($primary-color, 0.8);
$primary-opacity-60: rgba($primary-color, 0.6);
$primary-opacity-40: rgba($primary-color, 0.4);